body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

.content {
  width: 100%;
  height: 878px;
  position: relative;
  background-image: url("black background.jpg");
}

.white_window {
  margin: 300px 50px;
  padding: 0px 0px 0px 0px;
  width: 50%;
  height: 450px;
  float: left;
  font-family: "Courier New", monospace;
  background: white;
  z-index: 1;
  border-radius: 15px;
}

.cat_background {
  width: 40%;
  float: right;
  height: 100%;
}

.white_window h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 50px;
}

.white_window p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  z-index: 0;
  text-align: center;
  margin-bottom: 50px;
}

.button_under_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 45px;
  width: 150px;
  border-radius: 15px;
  border: 3px solid black;
  background: white;
  margin-top: 90px;
}

.button_under_text a {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
