body,
html {
  margin: 0;
  padding: 0;
  height: 1400px;
  width: 100%;
  background-color: #fff;
  font-family: 'Trebuchet MS', sans-serif;
  background-color: black;
}

.header {
  top: 0;
  height: auto;
  left: 0;
  padding: 10px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid white;
}
.logo {
  background-image: url("cat_logo.png");
  text-decoration: none;
  padding: 0px 0px;
  height: auto;
  margin-left: -70px;
}

.navbar a {
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  padding: 13px 90px;
  margin-left: 20px;
}
.navbar a:hover {
  background-color: #3c3d3e;
  transition: 0.5s;
}

.banner {
  width: 100%;
  height: 800px;
  position: relative;
}

.white_window {
  margin: 200px 50px;
  padding: 0;
  width: 50%;
  height: 370px;
  float: left;
  background: white;
  z-index: 1;
  border-radius: 15px;
}

.cat_background {
  width: 40%;
  height: 800px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  float: right;
}

.white_window h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 900;
  z-index: 0;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 50px;
}

.white_window p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: auto;
  font-size: 24.5px;
  z-index: 0;
  text-align: center;
  margin-bottom: 50px;
  font-weight: 300;
}


.button_under_text a {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  height: 50px;
  width: 10px;
  background: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 60px;
  background-color: #fff;
  color: #000;
  border: 1px solid black;
  border-radius: 50px;
  transition: 0.25s;
}

.button_under_text a:hover{
  letter-spacing: 0.10em;
  background-color: #e699ff;
  box-shadow: 0px 0px 20px  #df80ff;
  padding: 10px 100px;
}
.cards {
  padding: 2rem;
  background-color: black;
  border-top: 1px solid white;
}
.slide-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
}

.slide-wrapper {
  position: relative;
  max-width: 48rem;
  margin: 0 auto;
  overflow: hidden;
}

.slider {
  display: flex;
  aspect-ratio: 16/9;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  border-radius: 0.5rem;
  overflow: hidden;
}

.slider img {
  flex: 1 0 100%;
  scroll-snap-align: start;
}

.slider-nav {
  display: flex;
  column-gap: 1rem;
  position: absolute;
  bottom: 1.25rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.slider-nav a {
  width: 0.7rem;
  height: 0.7rem;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.75;
  transition: opacity ease 250ms;
}
@media only screen and (max-width: 768px) {
  .white_window {
    margin: 20px;
    width: calc(100% - 40px);
  }

  .cat_background {
    height: 200px;
  }

  .white_window h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
}