body,
html {
  margin: 0;
  padding: 0;
  height: 2000px;
  width: 100%;
  background-color: #fff;
  font-family: "Courier New", monospace;
}

.header {
  top: 0;
  left: 0;
  padding: 20px 5%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}
.logo {
  font-size: 35px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  background-color: white;
  color: black;
}

.navbar a {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  margin-left: 50px;
  margin-right: 0px
}

.banner {
  width: 100%;
  height: 900px;
  position: relative;
  background-image: url("black background.jpg");
}

.white_window {
  margin: 300px 50px;
  padding: 0px 0px 0px 0px;
  width: 50%;
  height: 450px;
  float: left;
  background: white;
  z-index: 1;
  border-radius: 15px;
}

.cat_background {
  width: 40%;
  height: 900px;
  background-size: cover;
  background-position: center;
  transition: transform 0.5s ease;
  float: right;
}

.white_window h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  z-index: 0;
  text-align: center;
  margin-bottom: 45px;
  padding-top: 50px;
}

.white_window p {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24.5px;
  z-index: 0;
  text-align: center;
  margin-bottom: 50px;
}


.button_under_text a {
  position: relative;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  margin: auto;
  height: 60px;
  width: 155px;
  background: white;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 90px;
  background-color: #fff;
  color: #000;
  border: 2px solid black;
  border-radius: 15px;
  transition: 0.25s;
}

.button_under_text a:hover{
  letter-spacing: 0.10em;
  background-color:#9966ff;
  box-shadow: 0px 0px 40px #9966ff;
  padding: 10px 100px;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1%px;
  width: 100%;
}

.cards h1 {
  text-align: center;
  margin: 0;
}